body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 200%;

}
.para{
    font-size: 140%;
}
.mamama{
    border-left: 4px rgb(17, 207, 207) solid;

}
.span{
   color: rgb(250, 144, 6);
}

.flexible-container{
    display: flex;
   margin: 0%;

}
.top-banner{
    background-image: url(imges/top-banner.png);
    background-repeat: no-repeat;
    margin: 0%;
}
.half-width{
    width: 30%;
    margin-top: 3%;
     margin-left: 10%;

}
.half-width img{
    width: 70%;
    margin-left: 50%;
}
.half-width{
       width: 32%;
    margin-right: 3%;
}
  
.gavi{
     background-image: linear-gradient(orange,rgb(155, 212, 21));
     padding: 9px 12px;
     border-radius: 8%;
}


.half-width-on{
     width: 37%;
    margin-top: 8%;
    margin-left: 8%;
}

.half-width-on img{
     width: 70%;
       margin-left: 1%;
}
.Dream-big{
    background-image: url(imges/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.flexible-container{
    display: flex;
 
 
}
.half-width-cfc{
    width: 60%;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 0px 4px 4px 7px gray;
    padding-left: 3%;
    border-radius: 6%;
  
   
}
#hamid{
     border-left: 5px  solid rgb(250, 144, 6);
}
#mannan{
     border-left: 5px  solid rgb(189, 58, 149); 
}
#hmg{
     background-repeat: no-repeat;
     background-image: url(imges/exp-bg.png);
}