body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 200%;

}
.para{
    font-size: 140%;
}
.mamama{
    border-left: 4px rgb(17, 207, 207) solid;

}
.span{
   color: rgb(250, 144, 6);
}

.flexible-container{
    display: flex;
   margin: 0%;

}
.top-banner{
    background-image: url(imges/top-banner.png);
    background-repeat: no-repeat;
    margin: 0%;
}
.half-width{
    width: 30%;
    margin-top: 3%;
     margin-left: 10%;

}
.half-width img{
    width: 70%;
    margin-left: 50%;
}
.half-width{
       width: 32%;
    margin-right: 3%;
}
  
.gavi{
     background-image: linear-gradient(orange,rgb(155, 212, 21));
     padding: 9px 12px;
     border-radius: 8%;
}


.half-width-on{
     width: 37%;
    margin-top: 8%;
    margin-left: 8%;
}

.half-width-on img{
     width: 70%;
       margin-left: 1%;
}
.Dream-big{
    background-image: url(imges/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.flexible-container{
    display: flex;
    margin-bottom: 8%;
 
 
}
.half-width-cfc{
    width: 60%;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 0px 4px 4px 7px gray;
    padding-left: 3%;
    border-radius: 6%;
  
   
}
#hamid{
     border-left: 5px  solid rgb(250, 144, 6);
}
#mannan{
     border-left: 5px  solid rgb(189, 58, 149); 
}
#hmg{
     background-repeat: no-repeat;
     background-image: url(imges/exp-bg.png);
}
.school{
    color: rgb(136, 71, 71);

}
.collage{
    color: rgb(212, 17, 170);
}
#h12{
    text-align: center;
}
.two-images-a{
     box-shadow: 0px 4px 4px 7px rgb(143, 45, 45);
    padding-left: 3%;
    border-radius: 4%;
    margin-right: 6%;
    background-color: rgb(95, 105, 59);
}
.images-a{
    width: 90%;
    margin-top: 2%;
}
.images-a img{
    width: 50%;

}
.two-images-b{
     box-shadow: 0px 4px 4px 7px rgb(143, 45, 45);
    padding-left: 2%;
    border-radius: 4%;
    margin-right: 6%;
    background-color: tan;
}
.images-b{
     width: 80%;
}
.images-b img{
width: 50%;

}
.two-images-c{
    box-shadow: 0px 4px 4px 7px rgb(143, 45, 45);
    padding-left: 1%;
    border-radius: 4%;
    margin-right: 4%;
    background-color: skyblue;
}
.images-c{
     width: 80%;
}
.images-c img{
width: 50%;
}
#all-images{
    margin-left: 5%;
    margin-right: 8%;

    
}